<%- include ../includes/header %>
<div class="container">
    <div class="row">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>名字</th>
                    <th>时间</th>
                    <th>查看</th>
                    <th>更新</th>
                    <th>删除</th>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach(function (item, index) { %>
                    <tr class="item-id-<%= item._id %>">
                        <td><%= item.name %></td>
                        <td><%= moment(item.meta.createAt).format("YYYY/MM/DD") %></td>
                        <td><a target="_blank" href="../detail/<%= item._id %>">查看</a></td>
                        <td><a href="../admin/update/<%= item._id %>">更新</a></td>
                        <td>
                            <button class="btn btn-danger del" type="button" data-id="<%= item._id %>">删除</button>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>
<%- include ../includes/footer %>
