<%- include ../includes/header %>
<div class="container">
	<div class="row">
	    <% categories.forEach(function(cat,index){%>
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                <h3>
										<a href="/results?cat=<%= cat._id%>&p=0">
											<%= cat.name%>
										</a>

									</h3>
	            </div>
	            <div class="panel-body">
	                <% if(cat.movies && cat.movies.length>0){%>
	                    <% cat.movies.forEach(function (item, index) { %>
			                <div class="col-md-2">
				                <div class="thumbnail">
					                <a href="/detail/<%= item._id %>">
														<%if(item.poster.indexOf('http')>-1){ %>
						                <img src="<%= item.poster %>" alt="<%= item.title %>" >
														<% }else{%>
														<img src="/upload/<%= item.poster %>" alt="<%= item.title %>" style="width:149px;height:100px">
														<% }%>
														<div class="caption">
							                <h3><%=item.title %></h3>
							                <p>
								                <a href="/detail/<%= item._id %>" class="btn btn-primary" role="button">观看预告片</a>
							                </p>
						                </div>
					                </a>
				                </div>
			                </div>
		                <% }) %>
                    <% } %>
	            </div>
	        </div>
	    <% }) %>
	</div>
</div>

<%- include ../includes/footer %>
